/* CSS declarations go here */
/*test*/
body
{
    background-image: url('popcorn.jpg');

}

button
{
    padding: 18px 8px;
}

.bingo
{
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 12px;
    font-size: 35px;

}

.bingoClick
{
    background-color: yellow;
    border: 1px solid black;
    border-radius: 12px;
    font-size: 35px;

}

h1
{
    font-size: xx-large;

}