/*Neal Noble*/
/*Sergio Remirez*/
/*Meteor Team project: Bingo Time*/
/*May 2016*/



body
{
    background-image: url('popcorn.jpg');

}

button
{
    padding: 18px 8px;
}

.notSelected
{
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 12px;
    font-size: 35px;

}

.selected
{
    background-color: yellow;
    border: 1px solid black;
    border-radius: 12px;
    font-size: 35px;

}

h1
{
    font-size: xx-large;

}